NEXT_PUBLIC_SUPABASE_URL=https://uxvstlqqzocjdzyimvnf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4dnN0bHFxem9jamR6eWltdm5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNzA2MjIsImV4cCI6MjA4Nzg0NjYyMn0.IV1f59Sn8MvbL04kOgcw6n5ylmYlki7XB4FEbB8PUDc
NEXT_PUBLIC_API_BASE_URL=https://servicego-backnd.onrender.com
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SeTWOB0dzyqh5W
